<htlm>
    <head>
    <style>
        li{
            text-align= justify
        }
        </style>
    </head>
<p><strong>Kebijakan Privasi (</strong><strong><em>Privacy Policy</em></strong><strong>)</strong></p>
<p>Kebijakan Privasi berikut ini menjelaskan bagaimana PT. Seva Digital dan masing-masing cabang, anak perusahaan, maupun afiliasi perusahaan (&ldquo;Seva Digital&rdquo; atau &ldquo;Perusahaan&rdquo; atau &ldquo;Kami&rdquo;) dalam perolehan, pengumpulan, penggunaan, penampilan, pengumuman, pengungkapan, pembukaan akses,penyimpanan, pengiriman, pemberian, pengalihan, pengolahan, pengelolaan, pemusnahan dan perlindungan Data Pribadi anda. Perlu dicatat bahwa Data Pribadi disini tidak termasuk Data Pribadi yang memang sudah tersedia secara umum.</p>
<p>Kebijakan Privasi ini disertakan sebagai bagian dari Ketentuan Penggunaan Kami, bahwa pengguna CariParkir (&ldquo;Aplikasi&rdquo;) dan layanan Kami mengindikasikan persetujuan anda terhadap Ketentuan Penggunaan dan Kebijakan Privasi tersebut. Karena itu mohon agar anda membaca Kebijakan Privasi ini dengan seksama untuk memastikan bahwa anda memahami sepenuhnya sebelum mendaftar, mengakses dan/atau, menggunakan Aplikasi dan layanan Kami.</p>
<p><strong><u>Pengumpulan Data Pribadi</u></strong></p>
<p>Data Pribadi dapat anda berikan secara langsung pada saat anda mendaftarkan diri dalam Aplikasi maupun pada saat menggunakan fitur-fitur yang ada dalam aplikasi. Data Pribadi tersebut termasuk namun tidak terbatas pada nama, nomor telepon, surat elektronik, kata kunci surat elektronik, tanggal lahir, jenis kelamin, jenis kendaraan, merk kendaraan, tipe kendaraan, nomor polisi, tahun kendaraan, lokasi anda dengan fungsi, <em>geolocation</em> pada perangkat <em>mobile</em> anda dan informasi lain yang mungkin ditambahkan sewaktu-waktu.</p>
<p>Kami mengumpulkan sebanyak mungkin informasi terkait penggunaan Aplikasi maupun Data Pribadi dari berbagai sumber dengan tujuan agar Kami dapat selalu memberikan layanan terbaik kepada pengguna Aplikasi dari waktu ke waktu. Dalam hal ini termasuk didalamnya data/informasi yang berasal dari anak perusahaan maupun perusahaan afiliasi Kami, baik data baru maupun data historis, yang dimaksudkan untuk memberikan kemudahan bagi anda. Penyediaan Data Pribadi anda bersifat sukarela, namun jika anda tidak memberikan Kami Data Pribadi, termasuk didalamnya kebenaran informasi dan Data Pribadi, maka akan berakibat Kami tidak dapat memberikan layanan sebagaimana mestinya, baik terhambat maupun tidak sama sekali.</p>
<p>Jika anda adalah agen, pemasok maupun mitra usaha Kami, anda mungkin perlu menyediakan informasi dan Data Pribadi yang lebih lengkap terkait dengan proses administrasi, legalitas dan dukungan layanan operasional perusahaan. Hal ini adalah wajib dan kegagalan untuk memberikan Data Pribadi anda, mungkin merupakan pelanggaran hukum atau melanggar persyaratan peraturan, yang dapat menyebabkan Kami tidak mampu untuk melibatkan anda dalam menyediakan layanan maupun produk dalam Aplikasi.</p>
<p><strong><u>Penggunaan Data Pribadi</u></strong></p>
<p>Kami dapat menggunakan dan memproses Data Pribadi anda untuk kegiatan bisnis dan operasional maupun keperluan lain sesuai dengan tujuan diberikannya Data Pribadi tersebut dan sesuai dengan persetujuan anda, yang mana termasuk namun tidak terbatas untuk:</p>
<ul>
    <li>Memvalidasi dan memproses pemesanan dan pembayaran terkait produk dan layanan yang anda minta.</li>
    <li>Menanggapi pertanyaan, komentar dan umpan balik anda.</li>
    <li>Memproses pertukaran atau pengembalian produk.</li>
    <li>Berkomunikasi dengan anda melalui berbagai media seperti notifikasi dalam Aplikasi, surel, telepon, layanan pesan singkat (SMS), chat maupun media sosial.</li>
    <li>Tujuan pemasaran dan promosi Perusahaan seperti mengirimkan pengumuman, materi promosi, ucapan salam, undangan untuk berpartisipasi dan hak-hak istimewa yang berasal dari Seva Digital Group, mitra usaha, sponsor maupun pemasang iklan.</li>
    <li>Memproses partisipasi anda dalam setiap kegiatan produksi, kontes, permainan, promosi, jajak pendapat maupun survei.</li>
    <li>Memahami dan menganalisa pola penggunaan dan penjualan produk dan layanan terkait kebutuhan dan preferensi.</li>
    <li>Mengembangkan, meningkatkan dan menyediakan produk dan [layanan][jasa] yang sesuai dengan kebutuhan anda.</li>
    <li>Proses administrasi internal seperti audit dan perpajakan.</li>
    <li>Semua informasi baik dalam bentuk gambar, video dan/atau teks yang dikirimkan dan dipublikasikan oleh pengguna aplikasi ke dalam Aplikasi akan menjadi milik Perusahaan.</li>
</ul>
<p><strong><u>Pemberian dan Pengungkapan Data Pribadi</u></strong></p>
<p>Untuk tujuan bisnis dan operasional maupun keperluan lain, Perusahaan dapat melakukan kerjasama dengan pihak ketiga, terkait pemberian, penampilan, pengumuman, pengungkapan, pembukaan akses, pengiriman, pengalihan dan pengelolaan Data Pribadi anda ke pihak ketiga tersebut untuk keperluan pemrosesan dan tujuan tambahan, yang mana termasuk namun tidak terbatas untuk :</p>
<ul>
    <li>Perusahaan riset dan pemasaran terkait promosi yang dilakukan oleh Perusahaan.</li>
    <li>Perusahaan penyedia layanan terkait teknologi informasi (TI) seperti layanan untuk infrastruktur, komputasi awan, perangkat lunak, pengembangan analisa &ldquo;Big Data&rdquo; dan &ldquo;Machine Learning&rdquo;, termasuk didalamnya layanan untuk melakukan &ldquo;Cleansing Data&rdquo;, &ldquo;Data Insight&rdquo;, &ldquo;Credit Scoring&rdquo; dan lain-lain.</li>
    <li>Perusahaan penyedia layanan terkait proses pembayaran elektronik, uang elektronik dan dompet elektronik yang disebut &ldquo;Payment Gateway&rdquo; terkait transaksi yang dilakukan dalam Aplikasi.</li>
    <li>Perusahaan penyedia layanan lain maupun mitra Perusahaan yang terkait dengan fitur, produk dan layanan yang ditawarkan dalam Aplikasi.</li>
    <li>Penasihat profesional dan auditor eksternal, termasuk penasihat hukum, penasihat keuangan dan konsultan lainnya.</li>
    <li>Entitas lain yang tergabung dalam Seva Digital Group, termasuk didalamnya jika terjadi transaksi Perusahaan seperti penjualan anak Perusahaan atau divisi, merger dan akusisi.</li>
    <li>Otoritas pemerintah, baik di dalam maupun di luar yurisdiksi negara Republik Indonesia, terkait pemenuhan proses hukum, persyaratan, undang-undang dan peraturan lainnya.</li>
</ul>
<p>Perusahaan tidak mengontrol kebijakan privasi dari pihak-pihak ketiga tersebut termasuk mitra Perusahaan dan/atau afiliasi Perusahaan, dan anda tunduk kepada kebijakan privasi dari pihak-pihak ketiga tersebut, sebagaimana yang berlaku.</p>
<p><strong><u>Pengelolaan dan Keamanan Data Pribadi</u></strong></p>
<p>Kami sangat menghargai Data Pribadi dan berupaya wajar untuk secara wajar melindungi setiap informasi dan Data Pribadi yang diperoleh dari para pengguna Aplikasi. Perusahaan berusaha terus-menerus untuk meningkatkan standar perlindungan dari Aplikasi. Namun, mohon diperhatikan bahwa Perusahaan tidak dapat menjamin sepenuhnya keamanan tersebut dan tidak bertanggung jawab atas setiap kerugian, termasuk namun tidak terbatas atas kehilangan data yang terjadi dari insiden di luar kontrol Perusahaan. Karena itu terkait keamanan data, sangat disarankan untuk selalu memperbaharui Aplikasi dan perangkat lunak anda serta tidak mengungkapkan kata sandi anda kepada siapapun.</p>
<p>Perusahaan dapat mengirimkan, menyimpan, menggunakan dan mengolah Data Pribadi dari para pengguna Aplikasi pada server yang terletak di pusat data yang ditunjuk oleh Perusahaan. Pusat data tersebut dapat berlokasi di luar negara Republik Indonesia. Bagaimanapun, informasi dan Data Pribadi dari para pengguna Aplikasi yang dikumpulkan, digunakan, diungkapkan atau dialihkan sehubungan dengan penggunaan Aplikasi akan terus diatur oleh Kebijakan Privasi ini. Kami akan menyimpan informasi dan Data Pribadi anda hingga ada permintaan khusus untuk menghapus akun anda.</p>
<p><strong><u>Pembaharuan dan </u></strong><strong><u>Pengubahan </u></strong><strong><u>Data </u></strong><strong><u>Pribadi</u></strong></p>
<p>Anda dapat mengubah informasi dan Data Pribadi yang telah anda berikan kepada Perusahaan sewaktu-waktu, termasuk pilihan untuk tidak menerima komunikasi dari Kami atau menarik persetujuan atas penggunaan informasi Data Pribadi anda, dimana anda menyetujui bahwa penarikan persetujuan tersebut akan menimbulkan pengaruh pada akses atas layanan Aplikasi yang dapat anda pergunakan. Anda dapat menggunakan informasi pada bagian Kontak Kami untuk menghubungi Kami.</p>
<p><strong><u>Perjanjian </u></strong><strong><u>P</u></strong><strong><u>engguna</u></strong></p>
<p>Dengan mendaftar, mengakses dan/atau menggunakan Aplikasi, anda dianggap telah membaca, memahami dan memberikan persetujuan Kebijakan Privasi Kami sebagaimana dijelaskan di atas. Anda juga menyatakan dan menjamin bahwa informasi atau Data Pribadi yang anda berikan kepada Kami adalah benar dan didapatkan secara sah, dan anda memiliki hak untuk memberikannya kepada Kami.</p>
<p>Perusahaan dapat mengubah Kebijakan Privasi ini sewaktu-waktu dengan memunculkan informasi atas perubahan tersebut. Dengan terus mengakses dan/atau menggunakan Aplikasi menandakan penerimaan dan persetujuan anda atas perubahan Kebijakan Privasi tersebut. Oleh karena itu, Kami menghimbau anda untuk meninjau [halaman][laman] ini secara berkala untuk mengetahui informasi terbaru tentang bagaimana ketentuan Kebijakan Privasi ini Kami berlakukan.</p>
<p><strong><u>Lain-lain</u></strong></p>
<p>Kebijakan Privasi ini diatur dan ditafsirkan menurut hukum yang berlaku di negara Republik Indonesia dan setiap sengketa yang timbul dari Kebijakan Privasi ini menjadi wilayah yurisdiksi Pengadilan Negeri Jakarta Utara.</p>
<p>Dalam hal terjadi ketidaksesuaian antara versi bahasa Indonesia dan bahasa lainnya, versi bahasa Indonesia yang akan berlaku.</p>
<p><strong><u>Kontak Kami</u></strong></p>
<p>Anda dapat menghubungi Perusahaan terkait dengan Kebijakan Privasi dan Ketentuan Penggunaan Aplikasi melalui surel <a href="mailto:info@cariparkir.co.id">info@cariparkir.co.id</a> . Jika pertanyaan anda tidak terjawab secara <em>online</em>, anda dapat menghubungi Kami di nomor 1-500 898.</p>
<p><strong>Syarat-syarat &amp; Ketentuan Penggunaan [Layanan] (<em>Terms &amp; Conditions of Service</em>) </strong></p>
<p></p>
<p><strong>PENTING</strong>: Anda dimohon untuk membaca Ketentuan Penggunaan dan Kebijakan Privasi kami dengan hati-hati dan seksama sebelum mengunduh Aplikasi CariParkir (&ldquo;Aplikasi&rdquo;) maupun menggunakan layanan kami.</p>
<p>Dengan mengunduh, memasang dan/atau menggunakan Aplikasi, anda setuju bahwa anda telah membaca, menyetujui, memahami, mengetahui dan menerima seluruh informasi, syarat-syarat dan ketentuan-ketentuan penggunaan Aplikasi ini (&ldquo;Ketentuan Penggunaan&rdquo;). Ketentuan Penggunaan ini merupakan suatu perjanjian yang sah antara CariParkir (&ldquo;Perusahaan&rdquo; atau &ldquo;Kami&rdquo;) dan anda terkait tata cara dan persyaratan penggunaan Aplikasi yang berlaku antara anda dan Perusahaan.</p>
<p>Anda dapat menghapus Aplikasi dalam perangkat mobile anda, termasuk permintaan penghapusan akun, apabila anda telah melakukan pendaftaran sebagai pengguna Aplikasi, jika anda tidak setuju terhadap Ketentuan Penggunaan Aplikasi ini. Mohon diperhatikan bahwa penggunaan anda atas Aplikasi tunduk pada Ketentuan Penggunaan dan Kebijakan Privasi yang mungkin dikeluarkan dari waktu ke waktu dan diberitahukan kepada anda oleh Perusahaan atau afiliasi Perusahaan.</p>
<p><strong><u>Ketentuan Umum</u></strong></p>
<ol>
    <li>Aplikasi ini merupakan milik CariParkir (&ldquo;Perusahaan&rdquo; atau &ldquo;Kami&rdquo;) yang bekerja sama dengan pihak ketiga untuk mengembangkan, menambah dan/atau meningkatkan fitur serta fungsi dalam Aplikasi (&ldquo;Mitra Perusahaan&rdquo;).</li>
    <li>Pengunduhan dan/atau penggunaan atas Aplikasi ini adalah bebas biaya. Penggunaan Aplikasi ini memerlukan koneksi kepada jaringan internet untuk dapat menggunakan setiap fitur dan/atau layanan yang terdapat dalam Aplikasi ini. Segala biaya yang timbul atas koneksi perangkat mobile anda dengan jaringan internet sepenuhnya ditanggung oleh anda.</li>
    <li>Aplikasi ini dapat digunakan oleh anda dengan terlebih dahulu melakukan pendaftaran yang disertai pemberian informasi Data Pribadi anda sebagaimana diminta dalam Aplikasi. Informasi Data Pribadi yang diberikan hanya akan digunakan untuk pemberian layanan dalam Aplikasi. Informasi tambahan diwajibkan diberikan oleh anda dalam menggunakan fitur dan/atau layanan-layanan tertentu yang ada dalam Aplikasi. Hal-hal terkait Data Pribadi diatur dalam Kebijakan Privacy sebagai bagian dari Ketentuan Penggunaan ini.</li>
    <li>Aplikasi ini merupakan perangkat lunak yang berfungsi sebagai sarana untuk memudahkan anda untuk mendapatkan, mencari, mengakses, memanfaatkan semua produk dan layanan/jasa maupun informasi/berita yang disediakan oleh Perusahaan, termasuk didalamnya yang berasal dari cabang, anak perusahaan, afiliasi perusahaan maupun mitra perusahaan yang tergabung dan terikat dalam perjanjian. Fitur yang tersedia dalam Aplikasi termasuk namun tidak terbatas pada informasi, berita, promosi, produk dan layanan/jasa yang terkait dengan:
        <ol start="2">
            <li>Kendaraan baru dan bekas baik roda 4 maupun roda 2.</li>
            <li>Suku cadang dan asesoris terkait dengan kendaraan roda 4 maupun roda 2.</li>
            <li>Servis kendaraan roda 4 maupun roda 2.</li>
            <li>Sewa menyewa kendaraan roda 4 maupun roda 2.</li>
            <li>Logistik/pengiriman barang dengan menggunakan kendaraan angkutan darat roda 4 maupun roda 2.</li>
            <li>Finansial [Bank dan Lembaga Keuangan Non-Bank] yang menyediakan fasilitas kredit/cicilan atas kendaraan roda 4, roda 2 maupun barang lain.</li>
            <li>Asuransi yang menyediakan fasilitas jaminan atas kendaraan roda 4, roda 2 dan barang hingga asuransi jiwa.</li>
            <li>Layanan/jasa lain terkait kemudahan penggunaan kendaraan roda 4 maupun roda 2 seperti: agen penjual, layanan darurat, peta perjalanan, laporan keadaan lalu lintas terkini, informasi terkini jalan bebas hambatan, daftar tempat-tempat menarik/penting, daftar merchant yang bergabung, program loyalti, layanan parkir, tiket transportasi/perjalanan, tiket hotel/penginapan, pembayaran dengan menggunakan uang elektronik, dan lain-lain.</li>
            <li>Cabang maupun dealer penjual produk dan layanan/jasa yang dimaksud</li>
        </ol>
    </li>
    <li>Informasi yang terkandung dalam Aplikasi ini hanya bertujuan untuk pemberian informasi secara umum. Informasi ini disediakan oleh Perusahaan dan/atau Mitra Perusahaan dan sementara Kami berupaya keras untuk menjaga kebenaran dan kebaharuan dari informasi tersebut, Kami tidak membuat pernyataan atau jaminan apapun, baik tersurat maupun tersirat, mengenai kelengkapan, akurasi, keandalan, kesesuaian, kepuasan, keamanan, kecepatan, atau ketersediaan sehubungan dengan fitur, informasi, produk, layanan, gambar, estimasi biaya atau grafis terkait yang terdapat dalam Aplikasi untuk setiap tujuan apapun juga. Gambar, grafis dan/atau foto yang ada dalam Aplikasi mungkin saja memiliki hak cipta yang melekat pada pihak ketiga dan Perusahaan tidak menjamin dalam bentuk apapun juga atas hak tersebut.</li>
    <li>Dalam penggunaan aplikasi ini, anda dapat disajikan dengan kesempatan untuk tersambung, terakses, atau terhubung dengan API dan/atau URL pihak ketiga dan/atau afiliasi Perusahaan dan/atau Mitra Perusahaan yang tidak berada di bawah kendali Perusahaan. Kami tidak memiliki kontrol atas sifat, isi dan ketersediaan dari API dan/atau URL tersebut, yang mana tersedia. Ketersediaan atas setiap API dan/atau URL dalam Aplikasi ini tidak menyiratkan bahwa Perusahaan merekomendasikan API dan/atau URL tersebut atau mendukung dan/atau menyetujui pandangan yang diungkapkan dan/atau dinyatakan dalam API dan/atau URL pihak ketiga dan/atau afiliasi dan/atau Perusahaan dan/atau Mitra Perusahaan.</li>
    <li>API dan/atau URL dalam situs web dan/atau perangkat lunak Aplikasi kami juga mungkin digunakan untuk mengakses data/informasi anda yang berasal dari anak perusahaan maupun perusahaan afiliasi kami, fitur ini digunakan untuk memberikan kemudahan bagi anda mengakses informasi melalui 1 (satu) pintu.</li>
    <li>Penggunaan layanan-layanan tertentu dalam Aplikasi mewajibkan anda untuk mengaktifkan fitur Geolocation dalam perangkat mobile anda. Pengaktifan Geolocation ini diperlukan untuk penggunaan layanan terkait arah, rute, lokasi dengan mempergunakan peta yang tersedia dalam Aplikasi, termasuk mendeteksi lokasi anda kepada Perusahaan untuk menyediakan fitur layanan ditempat saat itu (&ldquo;Current Location&rdquo;) seperti halnya layanan pencarian/hubungi cabang terdekat, layanan &ldquo;Home Service&rdquo; maupun layanan darurat &ldquo;ERA&rdquo; dalam Aplikasi. Perusahaan memiliki kebijakan sendiri dan menyeluruh untuk menerima atau menunda atau menolak permintaan anda atas layanan fitur tersebut dalam Aplikasi.</li>
    <li>Dalam hal terjadi ketidaksesuaian antara versi bahasa Indonesia dan bahasa lainnya, versi bahasa Indonesia yang akan berlaku.</li>
</ol>
<p><strong><u>Ketentuan Penggunaan Aplikasi</u></strong></p>
<ol>
    <li>Anda menyatakan dan menjamin bahwa anda adalah pihak yang secara hukum berhak untuk mengadakan perjanjian yang mengikat berdasarkan hukum Negara Republik Indonesia, khususnya Ketentuan Penggunaan, untuk menggunakan Aplikasi dan bahwa anda telah berusia minimal 18 tahun [atau sudah menikah] dan tidak berada di bawah perwalian. Jika tidak, Kami atau Penyedia Layanan terkait, berhak berdasarkan hukum untuk membatalkan perjanjian yang dibuat dengan anda. Anda selanjutnya menyatakan dan menjamin bahwa anda memiliki hak, wewenang dan kapasitas untuk menggunakan Layanan dan mematuhi Ketentuan Penggunaan. Jika anda mendaftarkan atas nama suatu badan hukum, anda juga menyatakan dan menjamin bahwa anda berwenang untuk mengadakan, dan mengikatkan diri entitas tersebut pada Ketentuan Penggunaan ini dan mendaftarkan untuk Layanan dan Aplikasi.</li>
    <li>Kami mengumpulkan dan memproses informasi pribadi anda seperti nama, alamat, surat elektronik, nomor telepon anda ketika anda mendaftarkan diri pada Aplikasi. Anda wajib untuk memberikan informasi yang akurat dan lengkap, memperbaharui informasi dan setuju untuk memberikan kepada Kami bukti identitas apapun yang secara wajar dapat kami mintakan agar Kami dapat tetap menyediakan layanan secara utuh dan maksimal kepada anda.</li>
    <li>Setelah mendaftarkan diri pada Aplikasi, anda akan mendapatkan suatu akun pribadi yang dapat diakses dengan kata sandi yang anda pilih. Anda berjanji untuk tidak menyerahkan, mengalihkan maupun memberikan wewenang kepada orang lain untuk menggunakan identitas anda atau menggunakan akun anda. Anda wajib menjaga kerahasiaan kata sandi akun anda dan setiap identifikasi yang kami berikan kepada anda. Dalam hal terjadi pengungkapan atas kata sandi anda, dengan cara apapun yang mengakibatkan penggunaan yang tidak sah dan tanpa kewenangan anda[, yang bukan disebabkan oleh kesalahan anda], transaksi maupun pesanan yang terjadi dalam Aplikasi masih akan dianggap sebagai transaksi maupun pesanan yang sah kecuali anda memberitahu kami tentang hal tersebut sebelum penyedia layanan memberikan layanan yang diminta.</li>
    <li>Anda diharuskan untuk melaporkan kepada Kami bila anda tidak memiliki kontrol atas akun anda. Anda bertanggung jawab atas setiap penggunaan akun anda dalam Aplikasi meskipun jika Akun tersebut telah disalahgunakan oleh orang lain.</li>
    <li>Anda dapat melakukan pengunggahan informasi, foto, video, konten, penilaian, komentar dalam fitur-fitur tertentu yang terdapat dalam Aplikasi, dimana hasil unggahan anda akan dapat dikonsumsi oleh pengguna Aplikasi lainnya. Anda dilarang untuk melakukan pengunggahan yang mengandung unsur suku, agama, ras dan antargolongan (&ldquo;SARA&rdquo;), pornografi, pelanggaran hak kekayaan intelektual dan/atau copyright. Perusahaan berhak untuk melakukan penghapusan atau pemblokiran atas hasil unggahan anda apabila unggahan tersebut melanggar Ketentuan Penggunaan. Semua bentuk informasi yang diunggah anda ke dalam Aplikasi akan menjadi dan merupakan hak milik Perusahaan.</li>
    <li>Anda tidak diperkenankan untuk membahayakan, menyalahgunakan, mengubah atau memodifikasi Aplikasi dengan cara apapun. Perusahaan berhak untuk melarang anda untuk menggunakan Aplikasi lebih lanjut jika anda menggunakan Aplikasi tanpa mematuhi Ketentuan Penggunaan Aplikasi.</li>
    <li>Anda hanya akan menggunakan Aplikasi ini untuk tujuan mempergunakan layanan-layanan yang disediakan dalam Aplikasi ini. Anda tidak boleh mempergunakan Aplikasi ini untuk penipuan dalam bentuk apapun dan/atau membuat ketidaknyamanan terhadap pihak lain maupun pihak yang menyediakan layanan dalam Aplikasi ini. Segala informasi yang anda dapatkan terkait penggunaan layanan dalam Aplikasi ini tidak akan disalahgunakan oleh anda. Anda dilarang untuk melakukan suatu tindakan yang melecehkan atau mengancam pihak yang menyediakan layanan dalam Aplikasi.</li>
    <li>Informasi yang diberikan oleh Perusahaan dan/atau Mitra Perusahaan tidak dapat diartikan sebagai suatu penawaran atau saran, keputusan untuk menggunakan layanan dalam Aplikasi sepenuhnya berada dalam kekuasaan anda. Setiap hal yang anda tempatkan dan/atau lakukan atas dasar kebergantungan pada informasi dalam aplikasi ini merupakan resiko yang ditanggung oleh anda sendiri sepenuhnya.</li>
    <li>Jika anda juga adalah seorang Penyedia Layanan, anda tidak dapat menggunakan akun konsumen anda sendiri (atau akun milik konsumen orang lain) untuk melakukan pemesanan yang akan anda terima sendiri sebagai seorang Penyedia Layanan.</li>
    <li>Anda memahami dan setuju bahwa penggunaan Aplikasi oleh anda akan tunduk pula pada Kebijakan Privasi kami sebagaimana dapat diubah dari waktu ke waktu. Dengan menggunakan Aplikasi, anda juga memberikan persetujuan sebagaimana dipersyaratkan berdasarkan Kebijakan Privasi kami.</li>
    <li>Anda tidak boleh menggunakan fitur layanan dalam Aplikasi untuk hal-hal yang dilarang berdasarkan hukum dan undang-undang yang berlaku.</li>
</ol>
<p><strong><u>Ketentuan Penggunaan Fitur</u></strong></p>
<ol>
    <li>Fitur pembayaran elektronik, uang elektronik dan dompet elektronik dapat digunakan untuk memudahkan anda melakukan transaksi pembayaran atas produk dan layanan/jasa yang tersedia dalam situs web dan/atau perangkat lunak Aplikasi.
        <ol>
            <li>Perusahaan dapat menggunakan jasa pihak ketiga terkait penyediaan layaran pembayaran elektronik, uang elektronik dan dompet elektronik. Karena itu segala bentuk kegagalan sistem terkait yang disebabkan hal yang diluar kendali Perusahaan adalah diluar tanggung jawab Kami. Namun demikian, Kami akan berupaya maksimal untuk membantu menyelesaikan masalah yang mungkin timbul.</li>
            <li>Fitur ini dapat dikategorikan sebagai produk uang/dompet elektronik, karena itu penggunaannya mengacu pada peraturan yang dikeluarkan oleh Bank Indonesia dan Otoritas Jasa Keuangan (OJK).</li>
            <li>Anda sadar sepenuhnya atas biaya-biaya dan konsekuensi yang mungkin timbul dari transaksi pembayaran elektronik tersebut sebagaimana yang tercantum sebelum anda melakukan transaksi pembayaran.</li>
            <li>Perlu diingat bahwa dalam layanan ini, Kami bekerja sama dengan Mitra. Semua resiko yang mungkin ditimbulkan oleh kelalaian Mitra adalah diluar wewenang dan tanggung jawab Kami. Ketersediaan produk dan layanan sangat tergantung pada kondisi saat itu, dan Kami tidak menjamin apapun atas hal ini.</li>
        </ol>
    </li>
    <li>&ldquo;CariParkir&rdquo; merupakan layanan yang diberikan untuk memudahkan anda dalam mencari lokasi parkir, termasuk namun tidak terbatas pada:
        <ol>
            <li>Informasi lokasi, biaya, jam buka, fasilitas tempat parkir, kapasitas dan ketersediaan tempat parkir, <em>rating</em> pengguna dan lain-lain.</li>
            <li>Proses check-in dan check-out saat anda masuk dan keluar tempat parkir yang disertai dengan bukti/struk parkir digital</li>
            <li>Informasi maupun transaksi atas fasilitas tambahan yang ada disekitar lokasi parkir, seperti: jasa servis kendaraan, jasa cuci kendaraan, jasa pemarkir kendaraan, penjual makan dan minuman, konter tiket transportasi umum dan lain-lain.</li>
            <li>Informasi promosi dan iklan terkait Mitra yang tergabung dalam perjanjian kerjasama.</li>
            <li>Fasilitas tambahan seperti asuransi mungkin tersedia dengan tambahan biaya.</li>
            <li>Pembayaran dengan menggunakan uang tunai, uang elektronik dan dompet elektronik.</li>
            <li>Perlu diingat bahwa dalam layanan ini, Kami bekerja sama dengan Mitra. Semua resiko yang mungkin ditimbulkan oleh kelalaian Mitra adalah diluar wewenang dan tanggung jawab Kami. Ketersediaan produk dan layanan sangat tergantung pada kondisi saat itu, dan Kami tidak menjamin apapun atas hal ini.</li>
        </ol>
    </li>
</ol>
<ol start="3">
    <li>Layanan Darurat (&ldquo;Emergency Road Assitance&rdquo; atau &ldquo;ERA&rdquo;), sebagai bagian dari fitur &ldquo;Connecting You&rdquo; merupakan layan yang menyediakan bantuan pada saat anda mengalami keadaan darurat, dengan ketentuan sebagai berikut:
        <ol>
            <li>Penggunaan layanan fitur ERA dalam Aplikasi hanya dapat digunakan oleh pengguna kendaraan merek tertentu yang didistribusikan dan ditentukan oleh Perusahaan dari waktu ke waktu. Kecepatan pemberian bantuan atas layanan fitur ERA dalam Aplikasi tergantung kepada ketersediaan armada dan/atau sumber daya Perusahaan yang berada di sekitar lokasi kendaraan anda yang membutuhkan layanan ini.</li>
            <li>Penggunaan layanan fitur ERA dalam Aplikasi hanya dapat digunakan untuk permasalahan kendaraan di jalan. Perusahaan akan menyediakan jenis bantuan sesuai dengan penilaian dan justifikasi Perusahaan dari waktu ke waktu. Tarif yang berlaku untuk layanan fitur ERA dalam Aplikasi akan dijelaskan oleh Perusahaan sebelum pemberian layanan. Perusahaan akan membantu anda untuk menghitung estimasi biaya terkait jenis bantuan yang dibutuhkan oleh anda pada layanan fitur ERA. Informasi mengenai layanan fitur ERA dalam Aplikasi dapat juga anda peroleh melalui menu <em>Emergency Section &ndash; Introduction</em> yang terdapat dalam Aplikasi.</li>
            <li>Tambahan informasi-informasi lain akan diminta oleh Perusahaan dalam rangka pemberian layanan fitur ERA. Anda harus memberikan kepada Kami informasi yang akurat dan lengkap sebagaimana diminta oleh Perusahaan (bila dibutuhkan) yang diperlukan untuk pemberian layanan ini.</li>
            <li>Anda setuju bahwa anda akan membayar layanan berbayar yang diberikan kepada anda oleh Perusahaan secara penuh yang didapatkan melalui layanan fitur ERA dalam Aplikasi. anda diharuskan untuk mengisi survey atas penilaian layanan fitur ERA yang telah anda dapatkan ketika telah selesai menggunakan layanan fitur ERA dalam Aplikasi.</li>
            <li>Perusahaan akan menerapkan sistem <em>point reward</em> atas akses serta penggunaan yang anda lakukan dalam Aplikasi. Bentuk apresiasi point reward tersebut akan dilakukan Perusahaan sesuai dengan kebijakan Perusahaan yang dapat diubah dan/atau disesuaikan dari waktu ke waktu.</li>
        </ol>
    </li>
    <li>Hubungi Kami dan Suara Pelanggan
        <ol>
            <li>Kami sangat peduli dengan suara anda maupun kesulitan yang mungkin anda sedang hadapi, karena itu anda bisa menghubungi Kami kapan saja dengan menggunakan fasilitas yang tersedia seperti: Layanan <em>Call Center</em>, Layanan <em>Chat</em>, Surat Elektronik dan Media Sosial.</li>
            <li>Komplain dan proses klaim juga dapat diajukan melalui fasilitas yang tersedia seperti: Layanan <em>Call Center</em>, Layanan <em>Chat</em>, Surat Elektronik dan Media Sosial.</li>
        </ol>
    </li>
    <li>Lain-lain
        <ol>
            <li>Semua konten produk dan layanan yang dipublikasikan dalam situs web dan/atau perangkat lunak Aplikasi mungkin berbeda dengan keadaan aslinya, baik bentuk, jumlah, ketersediaan, waktu, tempat, spesifikasi maupun warna yang tersedia. Anda disarankan untuk melakukan konfirmasi terlebih dahulu kepada penyedia layanan masing-masing untuk memastikan bahwa produk dan layanan yang anda inginkan tersedia.</li>
            <li>Ulasan publik maupun konten yang dipublikasikan oleh pengguna maupun dari pihak ketiga yang bekerja sama dengan Kami, bersifat umum dan termasuk dalam kategori konten buatan pengguna (&ldquo;<em>User Generated Content</em>&rdquo;). Dalam hal ini Perusahaan tidak berusaha mempengaruhi maupun menyarankan dan/atau menyajikan berita yang tidak benar atas suatu produk dan layananan tertentu. Namun demikian, Perusahaan berhak untuk menguasai, mengontrol, mengolah dan menggunakan konten tersebut sepanjang konten tidak memiliki hak cipta dan mengandung unsur SARA, pornografi maupun hak yang dilarang lainnya. Perusahaan tidak terlibat dalam pembuatan maupun publikasi konten tersebut dan sepenuhnya menjadi tanggung jawab pengguna yang membuat dan mempublikasikannya. Konten bisa jadi memiliki hak cipta dan dalam hal terjadi pelanggaran hak cipta maupun adanya koten yang dilarang, pengguna maupun pemilik hak cipta dipersilahkan untuk menghubungi Kami, agar konten dapat segera dihapus.</li>
            <li>Dalam beberapa fitur, Kami menggunakan teknologi &ldquo;<em>Machine Learning</em>&rdquo; dan formula khusus untuk menghitung indeks pelanggan, sistem penilaian kredit, nilai persetujuan kredit, <em>rating</em>, usulan penawaran produk dan layanan kepada pelanggan, sistem penilaian loyalitas pelanggan, penilaian kontes, penilaian permainan dan lain-lain, yang formulanya bisa berubah sewaktu-waktu dan hasilnya mungkin berbeda dengan perhitungan sesungguhnya. Apabila terjadi perbedaan hasil, maka hasil aktual yang resmi digunakan.</li>
            <li>Dalam hal melakukan transaksi dalam situs web dan/atau perangkat lunak Aplikasi Kami, anda diwajibkan untuk selalu memberikan informasi yang benar dan akurat. Kegagalan maupun kesalahan dalam pemberian informasi yang benar dan akurat dapat mengakibatkan kami gagal untuk memberikan layanan sebagaimana mestinya, dan hal ini bukan menjadi tanggung jawab Kami.</li>
        </ol>
    </li>
</ol>
<p><strong><u>Jaminan dan Tanggung Jawab</u></strong></p>
<ol>
    <li>Upaya terbaik Kami lakukan untuk menjaga Aplikasi ini berfungsi dan berjalan lancar. Bagaimanapun juga, Perusahaan tidak bertanggung jawab dan tidak akan bertanggung jawab atas Aplikasi dan/atau layanan dan/atau fitur dalam Aplikasi yang [sementara waktu] menjadi tidak tersedia yang dapat terjadi dari waktu ke waktu karena alasan termasuk namun tidak terbatas pada keperluan pemeliharaan atau masalah teknis yang berada di luar kendali Kami.</li>
    <li>Tidak ada satu pun keadaan yang akan membuat Perusahaan dan induk dan perusahaan induknya, anak perusahaan, perusahaan terkait dan perusahaan asosiasi, afiliasi, penerus dan yang ditunjuk (&ldquo;Grup&rdquo;) bertanggung jawab atas setiap kerugian atau kerusakan termasuk namun tidak terbatas, kerugian atau kerusakan tidak langsung atau konsekuensial, atau setiap kerugian atau kerusakan apapun yang timbul akibat hilangnya data atau timbul dari atau sehubungan dengan penggunaan aplikasi dan layanan ini, sejauh diijinkan oleh hukum yang berlaku.</li>
    <li>Aplikasi ini disediakan &ldquo;sebagaimana adanya&rdquo; dalam arti anda mengakui dan menyetujui bahwa seluruh resiko yang ditimbulkan dari penggunaan layanan dan aplikasi oleh anda tetap sepenuhnya ada pada anda dan anda tidak memiliki hak untuk meminta ganti rugi apapun dari Perusahaan. Perusahaan tidak memberikan pernyataan, menjamin maupun garansi atas:
        <ol>
            <li>Aplikasi ini akan bebas dari kesalahan dan/atau kecacatan maupun saat beroperasi dengan kombinasi dengan perangkat keras, perangkat lunak, sistem atau data lainnya. Termasuk jaminan bahwa kesalahan dan/atau kecacatan dalam Aplikasi akan diperbaiki.</li>
            <li>Setiap data yang tersimpan akan akurat dan/atau bisa diandalkan.</li>
            <li>Ketersediaan dan kehandalan Aplikasi maupun server-server pendukung yang menyediakan Aplikasi, termasuk terbebas dari virus dan komponen berbahaya lain.</li>
            <li>Untuk dapat diandalkannya keamanan, ketepatan waktu, kualitas, kesesuaian, ketersediaan, akurasi dan kelengkapan dari Layanan, Situs web dan/atau perangkat lunak Aplikasi.</li>
            <li>Layanan dalam Aplikasi akan sesuai dengan harapan dan kebutuhan anda.</li>
            <li>Kualitas produk, layanan dan informasi yang tersedia akan memenuhi harapan dan kebutuhan anda.</li>
        </ol>
    </li>
    <li>Kami tidak bertanggung jawab atas kerugian keuangan, kerusakan, cidera maupun kematian yang disebabkan oleh perilaku penyedia layanan atau Mitra Perusahaan. Kami juga tidak bertanggung jawab atas kesalahan, termasuk pelanggaran maupun tindakan kriminal yang dilakukan oleh penyedia layanan maupun pengguna layanan selama pelaksanaan layanan. Penyedia layanan hanya merupakan Mitra kerja kami, bukan pegawai, agen maupun perwakilan kami. Anda secara tegas mengesampingkan dan melepaskan kami dari setiap dan semua kewajiban, tuntutan atau kerusakan yang timbul dari atau dengan cara apapun sehubungan dengan penyedia layanan. Perusahaan tidak akan menjadi pihak dalam sengketa, negosiasi sengketa antara anda dan penyedia layanan. Tanggung jawab atas keputusan penggunaan layanan sepenuhnya ada ditangan anda.</li>
    <li>Perusahaan juga tidak akan memberikan jaminan apapun dan bertanggung jawab atas setiap informasi, berita, produk dan layanan dalam Aplikasi yang disediakan oleh Mitra Perusahaan.</li>
    <li>Garansi atas beberapa produk dan layanan yang tersedia dan/atau disediakan oleh Mitra Perusahaan diatur terpisah sesuai dengan kontrak/perjanjian dan peraturan perundangan yang berlaku.</li>
    <li>Anda membebaskan Perusahaan dan Perusahaan tidak bertanggung jawab atas fasilitas yang dipergunakan oleh anda yang mungkin diperoleh dan/atau telah melanggar peraturan perundang-undangan yang berlaku.</li>
</ol>
<p><strong><u>Kekayaan Intelektual</u></strong></p>
<ol>
    <li>CariParkir, yang merupakan nama Aplikasi dan logo, dilindungi oleh hak cipta dan hak lainnya yang disediakan berdasarkan hukum negara Republik Indonesia, termasuk dalam hal ini adalah kepemilikan hak kekayaan intelektual atas seluruh <em>source code</em> Aplikasi dan hak kekayaan intelektual terkait Aplikasi, kecuali seluruh kekayaan intelektual atas API dan/atau logo dan/atau merek dan/atau fitur dan/atau layanan yang dimiliki kekayaan intelektualnya oleh Mitra Perusahaan. Untuk itu, anda dilarang untuk melakukan pelanggaran atas hak kekayaan intelektual Perusahaan terkait Aplikasi ini, termasuk melakukan modifikasi, karya turunan, mengadaptasi, menduplikasi, menyalin, menjual, membuat ulang, meretas, menjual, dan/atau mengeksploitasi Aplikasi ini termasuk penggunaan Aplikasi atas akses yang tidak sah, meluncurkan program otomatis atau <em>script</em>, termasuk, namun tidak terbatas pada, <em>web spiders</em>,<em> web crawlers</em>,<em> web robots</em>,<em> web ants</em>,<em> web indexers</em>, <em>bots</em>, <em>virus</em> atau <em>worm</em>, atau segala program apapun yang mungkin membuat beberapa permintaan <em>server</em> per detik, atau menciptakan beban berat atau menghambat operasi dan/atau kinerja Aplikasi, menggunakan <em>robot</em>, <em>spider</em>, pencarian situs/aplikasi pengambilan kembali, atau perangkat manual atau otomatis lainnya atau proses untuk mengambil, indeks, "tambang data" (<em>data mine</em>), atau dengan cara apapun memperbanyak atau menghindari struktur navigasi atau presentasi dari Aplikasi atau isinya.</li>
    <li>Anda hanya diperbolehkan untuk menggunakan Aplikasi maupun salinan Aplikasi semata-mata untuk kebutuhan pribadi anda, non-komersial, non-eksklusif, tidak dapat dipindahtangankan, tidak dapat dialihkan dan tidak dapat disublisensikan.</li>
    <li>Seluruh Ketentuan Penggunaan Aplikasi termasuk Kebijakan Privasi diatur dan tunduk pada hukum negara Republik Indonesia. Perusahaan memiliki hak sepenuhnya atas setiap pelanggaran yang dilakukan anda terkait Ketentuan Penggunaan dan hak kekayaan intelektual milik Perusahaan terkait Aplikasi.</li>
</ol>
<p><strong><u>Pengakhiran</u></strong></p>
<ol>
    <li>Anda dapat memilih untuk berhenti menggunakan Aplikasi dan layanan Kami setiap saat dengan cara membatalkan akun anda dan secara permanen menghapus aplikasi dari perangkat anda, sehingga menonaktifkan penggunaan Aplikasi tersebut. Ketentuan Penggunaan Aplikasi secara otomatis berakhir ketika anda secara permanen menghapus Aplikasi dari perangkat. Anda dapat menggunakan informasi pada bagian Kontak Kami untuk menghubungi Kami.</li>
    <li>Kami berhak untuk segera menangguhkan, membatasi atau menghentikan Ketentuan Penggunaan dan penggunaan Aplikasi jika Kami memiliki alasan untuk mencurigai bahwa anda telah melanggar ketentuan dari Ketentuan Penggunaan ini dan/atau peraturan perundangan yang berlaku.</li>
</ol>
<p><strong><u>Kontak Kami</u></strong></p>
<p>Anda dapat menghubungi Kami terkait dengan Kebijakan Privasi dan Ketentuan Penggunaan Aplikasi melalui surel <a href="mailto:support@cariparkir.co.id">support@cariparkir.co.id</a> . Jika pertanyaan anda tidak terjawab secara <em>online</em>, anda dapat menghubungi Kami di nomor 1-500 898.</p>
</html>r
